/****Loader****/

@keyframes loader {

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes flash {

    0% {
        color: #9356DC;
        text-shadow: 0 0 7px #cc0dc9;
    }

    30% {
        color: #FF79DA;
        font-size: 50px;
        text-shadow: 0 0 7px #ff00ee;
    }

    90% {
        color: rgb(24, 12, 12);
        font-size: 40px;
    }

    100% {
        color: #FF79DA;
        text-shadow: 0 0 7px #ff00ee;
    }
}

@keyframes heart {
    0% {
        transform: scale(0);
    }

   50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }

}



@keyframes menu {
    0% {

        transform: scale(0);
    }

    100% {

        transform: scale(1);
    }
}