@mixin linear {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}


@mixin border {
    border-radius: 25px;
    padding: 10px;
}

@mixin box-shadow {
    box-shadow: 5px 5px 4px 0px #ddd9d9;
}



@mixin header-logo {
        display: flex;
        margin: auto;
        width: 120px;
        padding: 15px;
    
}


