/****Loader****/
@keyframes loader {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #cc0dc9;
  }
  30% {
    color: #FF79DA;
    font-size: 50px;
    text-shadow: 0 0 7px #ff00ee;
  }
  90% {
    color: rgb(24, 12, 12);
    font-size: 40px;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #ff00ee;
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes menu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 15px;
}
footer ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin-left: 10px;
}
footer span {
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  margin-left: 10px;
}
footer i {
  font-size: 11px;
  width: 11px;
}
footer a {
  color: inherit;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    padding-right: 30px;
  }
  footer span {
    font-size: 16px;
  }
  footer ul {
    flex-direction: row;
    font-size: 15px;
    font-style: normal;
    gap: 30px;
  }
}
.heart .fa-solid {
  position: absolute;
  right: 1.5em;
  bottom: 1.5em;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  z-index: 2;
}
.heart:hover .fa-solid {
  animation: heart 1s forwards;
  opacity: 1;
}
.heart .fa-regular {
  position: absolute;
  right: 1.5em;
  bottom: 1.5em;
  font-size: 20px;
  z-index: 1;
}
.heart:hover .fa-regular {
  opacity: 0;
}

body {
  margin: 0px;
  position: relative;
}

* {
  font-family: "Roboto", sans-serif;
}

header img {
  display: flex;
  margin: auto;
  width: 120px;
  padding: 15px;
}

/********loader********/
.loader {
  height: 100%;
  width: 100%;
  background-color: #353535;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  animation: loader 3s ease-in forwards;
  box-sizing: border-box;
}
.loader .lettre {
  font-family: "Shrikhand", sans-serif;
  letter-spacing: 5px;
  animation: flash 1s linear infinite;
  color: rgb(24, 12, 12);
}
.loader .lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.loader .lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.loader .lettre:nth-child(3) {
  animation-delay: 0.4s;
}
.loader .lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.loader .lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.loader .lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.loader .lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.loader .lettre:nth-child(8) {
  animation-delay: 0.8s;
}

/*****BARRE DE RECHECHE*****/
form {
  width: 100%;
  border: none;
  background-color: #EAEAEA;
  text-align: center;
  height: 30px;
  padding-top: 10px;
  box-shadow: -4px 1px 5px 2px #ae9e9e;
}
form input {
  background-color: #EAEAEA;
  border: none;
  outline: none;
  width: 100px;
}
form i {
  font-size: 12px;
}
form input ::-moz-placeholder {
  font-weight: bold;
  color: black;
  font-size: small;
}
form input ::placeholder {
  font-weight: bold;
  color: black;
  font-size: small;
}

/*******TITRE******/
h1, h2 {
  font-size: 24px;
}

.h1_explore {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
  gap: 20px;
  background-color: #F6F6F6;
  padding: 20px;
}
.h1_explore a {
  box-shadow: 5px 5px 4px 0px #ddd9d9;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 40px;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  opacity: 1;
}
.h1_explore a:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 4px 0px #c5bebe;
}

a {
  text-decoration: none;
  color: black;
}

/*******BOUTONS*******/
.fonctionnement {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.fonctionnement__button {
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fonctionnement__button .btn {
  box-shadow: 5px 5px 4px 0px #ddd9d9;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  width: 98%;
  border: none;
  padding-bottom: 25px;
  padding-top: 25px;
  gap: 10px;
  align-items: center;
  background-color: #F6F6F6;
}
.fonctionnement__button .btn i {
  color: #9a9996;
}
.fonctionnement__button .btn:hover i {
  color: #9356DC;
}
.fonctionnement__button span {
  color: black;
  font-size: 17px;
  font-weight: 400;
}
.fonctionnement__button a :active {
  color: black;
}
.fonctionnement .BouttonRounded {
  margin-left: -18px;
  border-radius: 50%;
  font-size: 12px;
  width: 13px;
  height: 12px;
  color: white;
  padding: 5px;
  text-align: center;
  background-color: #9356DC;
}

/*******RESTAURANTS******/
.restaurant {
  padding: 15px;
  background-color: #F6F6F6;
  margin-top: 50px;
}
.restaurant a {
  width: 100%;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.restaurant span {
  color: #008766;
  background-color: #99E2D0;
  position: absolute;
  right: 1em;
  padding: 5px;
  top: 1em;
  font-size: 13px;
}
.restaurant .card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 20px;
}
.restaurant .card img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  height: 50px;
}
.restaurant .card__content p {
  margin: 2px;
}
.restaurant .card__content h3 {
  margin: 0px;
}

/********DESKTOP*********/
@media (min-width: 480px) {
  .fonctionnement {
    justify-content: center;
    width: 70%;
    margin: auto;
  }
  .fonctionnement h2 {
    text-align: center;
  }
  .restaurant a {
    width: 70%;
  }
  .restaurant h2 {
    text-align: center;
  }
  main {
    transition: 1s ease-in;
  }
  .restaurant {
    transition: all 1s ease-in;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
  .restaurant {
    transition: 1s ease-in;
  }
  .fonctionnement {
    padding-left: 15%;
    padding-right: 15%;
    margin: 0px;
  }
  .fonctionnement__button {
    flex-direction: row;
    justify-content: center;
  }
  .fonctionnement h2 {
    text-align: left;
  }
  .restaurant {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .restaurant__card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurant__card a {
    width: 45%;
  }
  .restaurant h2 {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */